@font-face {
    font-family: "Lato";
    src: url('../font/Lato.ttf');
}

* {
    font-family: Lato;
}

.nav-logo {
    width: 60%;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a.nav-link.active {
    border-bottom: 2px solid red;
}

.hero {
    position: relative;
}

.hero-img {
    position: absolute;
    float: right;
    align-items: center;
    background-image: url(../images/Bg-Home1.png);
    width: 100%;
    height: 100%;
}

.bem {
    font-size: 20px;
    color: #D52D36;
    margin-top: 150px;
}

.kabinet h1 {
    font-weight: 900;
    font-size: 50px;
}

.deskripsi p {
    font-size: 20px;
    color: #656B78;
    margin-top: 30px;
}

#laptop {
    margin-left: 111px;
}

#btn-more {
    /* margin-top: -250px; */
    border-radius: 15px;
    padding: 20px 40px;
    background-color: #D52D36;
    border-color: #D52D36;
}

/* section vidpro */

.video-profile {
    background-image: url(../images/Bg-Home2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 911px;
}

.text-main {
    color: #D52D36 !important;
    margin-top: 70px;
}

.profil {
    font-weight: 700;
}

#video {
    margin-top: 80px;
}

/* section acara terkini */

.acara-terkini {
    background-image: url(../images/Bg-Home3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* section kabinet */

.presiden {
    background-image: url(../images/Bg-Home4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 920px;
}

.foto {
    text-align: center;
    margin-left: 40px;
    margin-top: 150px;
}

#card-kabinet {
    background-color: transparent !important;
    border: transparent !important;
}

#foto-kabinet {
    border-radius: 1.25rem;
}

.text-kabinet {
    color: #D52D36 !important;
}

/* box dibuat oleh */

#box-made-by {
    position: absolute;
    margin-top: -30px;
}

#telkom-footer {
    background-image: url(../images/Bg-Footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 531px;
    position: absolute;
}

/*publikasi*/

.berita-terkini {
    align-items: center;
    padding: 40px;
    background-color: #FBFBFB;
}

.berita-terkini h1 {
    margin-left: 30px;
}

.berita-terkini p {
    margin-left: 30px;
}

.berita-terkini a {
    margin-left: 30px;
}

.berita-lain {
    position: relative;
}

.bg-gambar {
    background-image: url(../images/bg-publikasi.png);
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    float: right;
}

/*kementerian*/

.bg-menteri {
    background-image: url(../images/bg-menteri.png);
    margin-top: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1442px;
}

.visi-misi-text {
    color: red;
    border-bottom: 5px solid red;
}

.card-visi {
    background-color: #FFFFFF;
    width: 940px;
    height: 260px;
    left: 135px;
    top: 976px;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 14px 100px rgba(39, 39, 39, 0.02);
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 50px;
}

.card-visi h1 {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 900;
}

.card-visi p {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 50px;
    color: #656B78;
    line-height: 35px;
}

.card-misi {
    background-color: #FFFFFF;
    width: 960px;
    height: 675px;
    left: 135px;
    top: 976px;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 14px 100px rgba(39, 39, 39, 0.02);
    border-radius: 20px;
    border-top-right-radius: 100px;
    margin-left: 430px;
    margin-top: 50px;
}

.card-misi h1 {
    font-weight: 900;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 35px;
}

.card-misi p {
    color: #656B78;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 65px;
    line-height: 35px;
}

.bg-menteri2 {
    background-image: url(../images/bg-menteri2.png);
    /* margin-top: 150px; */
    width: 1520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.presiden-2 {
    margin-top: -150px;
}

#foto-kabinet2 {
    width: 300px;
    border-radius: 1.25rem;
    margin-left: 400px;
    margin-top: 110px;
}

#foto-kabinet3 {
    width: 300px;
    border-radius: 1.25rem;
    margin-left: 750px;
    margin-top: -710px;
}

.bg-menteri3 {
    background-image: url(../images/bg-menteri3.png);
    /* margin-top: 150px; */
    width: 1520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1370px;
}

#foto-kabinet4 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 110px;
    margin-top: -120px;
}

#foto-kabinet5 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 445px;
    margin-top: -643px;
}

#foto-kabinet6 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 765px;
    margin-top: -793px;
}

#foto-kabinet7 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 1080px;
    margin-top: -944px;
}

#foto-kabinet8 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 125px;
    margin-top: -500px;
}

#foto-kabinet9 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 445px;
    margin-top: -650px;
}

#foto-kabinet10 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 765px;
    margin-top: -800px;
}

#foto-kabinet11 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 1080px;
    margin-top: -950px;
}

.bg-menteri4 {
    background-image: url(../images/bg-menteri4.png);
    /* margin-top: 150px; */
    width: 1390px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#foto-menko1 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 300px;
    margin-top: -130px;
}

#foto-menko2 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 600px;
    margin-top: -665px;
}

#foto-menko3 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 900px;
    margin-top: -815px;
}

.bg-menteri5 {
    background-image: url(../images/bg-menteri5.png);
    /* margin-top: 150px; */
    width: 1520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2800px;
}

#foto-menteri1 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 100px;
    margin-top: -115px;
}

#foto-menteri2 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 420px;
    margin-top: -642px;
}

#foto-menteri3 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 740px;
    margin-top: -790px;
}

#foto-menteri4 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 1065px;
    margin-top: -942px;
}

#foto-menteri5 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 100px;
    margin-top: -550px;
}

#foto-menteri6 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 420px;
    margin-top: -700px;
}

#foto-menteri7 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 740px;
    margin-top: -850px;
}

#foto-menteri8 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 1060px;
    margin-top: -1000px;
}

#foto-menteri9 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 100px;
    margin-top: -610px;
}

#foto-menteri10 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 420px;
    margin-top: -760px;
}

#foto-menteri11 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 740px;
    margin-top: -910px;
}

#foto-menteri12 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 1060px;
    margin-top: -1060px;
}

#foto-menteri13 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 280px;
    margin-top: -640px;
}

#foto-menteri14 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 600px;
    margin-top: -790px;
}

#foto-menteri15 {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 920px;
    margin-top: -940px;
}

/*PROKER*/

#proker {
    width: 180%;
    padding-top: 110px;
    margin-left: 60px;
}

.kemenristek h3 {
    font-size: 20px;
    margin-top: 130px;
    margin-left: 500px;
    font-weight: 800;
}

.kemenristek h1 {
    font-size: 35px;
    margin-left: 250px;
    margin-top: 25px;
    font-weight: 900;
}

#foto-ristek {
    width: 250px;
    border-radius: 1.25rem;
    margin-left: 50px;
    margin-top: -50px;
}

.nama {
    margin-left: -730px;
}

.jurusan {
    margin-left: -730px;
    color: #656B78;
    font-size: 15px;
}

.posisi {
    color: #D52D36 !important;
    font-weight: 600;
    margin-left: -730px;
}

.card-ristek {
    margin-left: 400px;
    margin-top: -415px;
    width: 580px;
    height: 262px;
    background: #FAFAFA;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    border-top-right-radius: 80px;
}

.text-ristek {
    color: #656B78;
    font-size: 17px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 28px;
    position: center;
}

.plus-ristek {
    width: 120px;
    margin-left: 500px;
    margin-top: -550px;
}

.staff-ristek {
    background-image: url(../images/bg-proker1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1520px;
    height: 1290px;
    margin-top: 20px;
}

.icon-ppl {
    margin-left: -80px;
    margin-top: 70px;
}

.staff {
    font-size: 30px;
    margin-top: -125px;
    margin-left: 40px;
    font-weight: 900;
}

.foto-staff {
    width: 80%;
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
    margin-top: 20%;
}

#foto-staff1 {
    border-radius: 1.30rem;
}

.tugas-ristek {
    margin-top: 60px;
}

.judul-tugas {
    font-size: 28px;
    margin-top: -125px;
    margin-left: 120px;
    font-weight: 900;
}

.card-ristek2 {
    margin-left: 70px;
    margin-top: 55px;
    width: 900px;
    height: 262px;
    background: #FAFAFA;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    border-top-right-radius: 80px;
}

.text-tugas {
    color: #656B78;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 50px;
    line-height: 35px;
    position: center;
}

.judul-misi {
    font-size: 28px;
    margin-top: 100px;
    margin-left: 780px;
    font-weight: 900;
}

.misi-ristek {
    margin-top: -70px;
    margin-left: 650px;
    width: 15%;
}

.card-ristek3 {
    margin-left: 170px;
    margin-top: -55px;
    width: 900px;
    height: 262px;
    background: #FAFAFA;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    border-bottom-left-radius: 80px;
}

.proker-ristek {
    background-image: url(../images/bg-proker2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1520px;
    height: 1400px;
    margin-top: 20px;
}

.icon-proker {
    width: 16%;
    margin-top: 80px;
    margin-left: 470px;
}

.proker-kemenristek {
    font-size: 30px;
    font-weight: 900;
    margin-top: -70px;
    margin-left: 400px;
}

.card-proker {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-top: 50px;
}

.card-proker h1{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 900;
}