@font-face {
    font-family: "Lato";
    src: url('../font/Lato.ttf');
}

* {
    font-family: Lato;
}

.nav-logo {
    width: 60%;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a.nav-link.active {
    border-bottom: 2px solid red;
}

#search {
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

@media screen and (max-width:768px)
{
    #search input[type="search"] {
     
        font-size: 24px;
    }
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}



.info-panel
{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 20px;
padding: 20px;
display: flex;
justify-content: center;
text-align: center;
flex-direction: row;
z-index: 10;
}
.info-header{
    color: #979797; 
    float: left;
}


.ftco-wrapper{
    margin-top: -80px;
}
#section-ftco{
    position: relative;
    
}
@media screen and (max-width: 767px) {
    .info-header {
        display: flex;
        justify-content: center;
        float: none;
    }
    .ftco-wrapper{
        margin-top: 10px;
    }
    }
.bg-footer{
    background: linear-gradient(285.81deg, #1E1E1E -1.83%, #464646 122.41%);

    color: #fff;
    padding-bottom: 30px;
}

a.text-link{
    color: #DEDEDE;
    line-height: 1.6;
    transition: 0.3s;

}
a.text-link:hover{
    text-decoration: none;
    color: #F54F6D;

}


  /* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoInstagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoInstagram:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #C4C4C4;
  }
.icon-footer{
    position: absolute;
    left: 0;
}
.icon-footer2{
    position: absolute;
    right: 0;
}

  @media screen and (max-width: 767px) {
.footer-socmed {
    text-align: center;
}  
.icon-footer{
    width: 0;
}
.icon-footer2{
    width: 50%;
}
}

/* ++++++++++++++++++++++++++++++++++++++++++++ HALAMAN INDEX +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.hero {
    background-image: url(../images/Bg-Home1.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
.hero-content{
    margin-top: 60px;
}



.bem {
    /* font-size: 20px; */
    color: #D52D36;
    margin-top: 150px;
}

.kabinet h1 {
    font-weight: 900;
    /* font-size: 50px; */
}

.deskripsi p {
    /* font-size: 20px; */
    color: #656B78;
    margin-top: 30px;
}

#btn-more {
    border-radius: 15px;
    padding: 20px 40px;
    background-color: #D52D36;
    border-color: #D52D36;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 767px) {
    .hero{
        background-image: none;
        text-align: center;
        height: auto;
    }
    .hero-content {
        margin-top: 10px;
    }
    
    #btn-more {
        padding: 10px 30px;
    }
    }

/* section vidpro */

.video-profile {
    background-image: url(../images/bgHome2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
}




.text-main {
    color: #D52D36 !important;
    margin-top: 70px;
}

.profil {
    font-weight: 700;
}
.yt-video{
    margin-top: 70px;
    margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
    .video-profile {
        width: 100%;
        height: auto;
    background-size:auto;
    background-color: #FBFBFB;

    }
}




/* section acara terkini */

.acara-terkini {
    background-image: url(../images/Bg-Home3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.acara-terkini .container {
    margin-top: 150px;
}

.btn-lihat {
    padding-top: 85px;
}

.img-apresiasi {
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .acara-terkini .container {
        margin-top: 60px;
    }
    .apresiasi .container .row {
        text-align: center;
    }
    .btn-lihat {
        padding-top: 0;
    }
    }

/* section kabinet */

.presiden {
    background-image: url(../images/Bg-Home4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:  auto;
}




#card-kabinet {
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
    margin-top: 150px;

}

#foto-kabinet {
    border-radius: 1.25rem;
}

.text-kabinet {
    color: #D52D36 !important;
}

@media screen and (max-width: 768px) {
.presiden{
    height: auto;
    }
.foto{
transform: scale(0.8);
}
#card-kabinet{
    margin-top: -20px;

}
.sub-header {
    text-align: center;
}
}

@media (min-width: 768px) { 
    
 }



/* box dibuat oleh */

/* #box-made-by {
    position: absolute;
    margin-top: -30px;
} */



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  HALAMAN PUBLIKASI   ++++++++++++++++++++++++++++++++++++++++++++++++*/

.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-indicators li {
    /* position: absolute; */
    margin-top: 50px;
    background-color: #FF0000 !important;
}
.carousel-multi-item .controls-top {
    margin-bottom: 1.88rem;
    text-align: center;
}

#container-berita {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.096);
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
   
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.096);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
    background: #fff;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    width: inherit;
    color: #FF0000 ;
}

             
a.carousel-control-prev {
    margin-right: 100px;
}
.berita-terkini {
    align-items: center;
    padding: 40px;
    background-color: #FBFBFB;
}


.berita-terkini h1 {
    margin-left: 0;
    text-align: center;
}

.berita-terkini p {
    margin-left: 0;
    color: #656B78;
}



.berita-lain {
    position: relative;
}

.bg-gambar-atas {
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
     right: 0;
}

.img-berita-lain{
    object-fit: cover;
}

a.link-berita {
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}
.link-berita:hover{
    text-decoration: none;
    color: #F54F6D;

}

@media screen and (min-width: 767px) {
    .bg-gambar-atas {
        width: 50%;
       
    }
    #container-berita{
        padding: 30px;
    }
    .berita-terkini p {
        margin-left: 30px;
    }
    .berita-terkini h1 {
        margin-left: 30px;
        text-align: left;
    }
   
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++   HALAMAN KEMENTRIAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.visi-misi {
    background-image: url(../images/bg-menteri.png);
    margin-top: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 50px;
}

.logo-bg-menteri{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .img-visimisi{
        width: 25%;
    }
    .img-visimisi2{
        width: 40%;
    }
}


.visi-misi-text {
    color: red;
    border-bottom: 5px solid red;
}

#card-visi {
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 14px 100px rgba(39, 39, 39, 0.02);
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
}

.icon-visi{
    position: absolute;
    right: 0;
    top: 0;
    margin: -140px;
}

.card-visi h1 {
    font-size: 30px;
  
    font-weight: 900;
}

#card-visi p {
    font-size: 20px;
    margin-top: 20px;
    color: #656B78;
    line-height: 35px;
}



#card-misi {
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 14px 100px rgba(39, 39, 39, 0.02);
    border-radius: 20px;
    border-top-right-radius: 100px;
    margin-top: 50px;
    padding: 20px;
}

#card-misi h1 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}

#card-misi p {
    color: #656B78;
    font-size: 20px;
    margin-top: 65px;
    line-height: 25px;
}
@media screen and (max-width: 767px) {
    .icon-visi{
        visibility: hidden;
    }
}


.presiden-2 {
    width: 100%;
    background-image: url(../images/bg-menteri2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 80px;
}

.kabinet2{
    background-image: url(../images/bg-menteri3.png);
    /* margin-top: 150px; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
#foto-kabinet2 {
    border-radius: 1.25rem;
}
#card-kabinetkerja {
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
}
#foto-kabinetkerja {
    border-radius: 1.25rem;
  
}

.logo-bg-kemenko{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.kabinet3{
    background-image: url(../images/bg-menteri4.png);
    /* margin-top: 150px; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
#card-menko {
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
}


#foto-menko1 {
    border-radius: 1.25rem;
}

.kabinet4{
    background-color: #FBFBFB;
    /* margin-top: 150px; */
    width: 100%;
    position: relative;
}

.icon-kementerian {
    position: absolute;
    left: 0;
}

.logo-bg-kementrian{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    float: right;
}

#foto-menteri {
    border-radius: 1.25rem;
  
}

#card-menteri {
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .icon-kementerian{
        width: 50%;
    }
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ HALAMAN PROKER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.tugas-misi{
    position: relative;
}
#proker {
    padding-top: 110px;
}





#card-foto-ristek{
     background-color: transparent !important;
    border: transparent !important;
    text-align: center;
}
.kemenristek h3 {
  text-align: center;

    font-size: 20px;
    margin-top: 130px;
    font-weight: 800;
}

.kemenristek h1 {
  text-align: center;
    font-weight: 900;
    margin: 20px 0;
}
.content-header{
    margin-top: 200px;
}
#foto-ristek {
  
    border-radius: 1.25rem;
}
.jurusan {
    color: #656B78;
    font-size: 15px;
}
.posisi {
    color: #D52D36 !important;
    font-weight: 600;
}

.card-ristek {
   
    background: #FAFAFA;
    border: 2px solid #E2E2E2;
    border-radius: 20px;
    border-top-right-radius: 80px;
}

.text-ristek {
    color: #656B78;
    font-size: 17px;
    padding: 25px;
    line-height: 35px;
    position: center;
}

@media screen and (max-width: 767px) {
    #card-foto-ristek{
        transform: scale(0.8);
        margin-top: -80px;
    }
    .text-ristek {
      
        font-size: 17px;
        padding: 0%;
        line-height: 25px;
        position: center;
    }
}

.plus-ristek{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.staff-ristek {
    background-image: url(../images/bg-proker1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 100px;
}




.staff {
    font-size: 30px;
    font-weight: 900;
    margin-top: -60px;

}

.foto-staff {
    background-color: transparent !important;
    border: transparent !important;
    text-align: center;
    margin-top: 10%;
}

#foto-staff1 {
    border-radius: 1.30rem;
}

.tugas-misi{
    position: relative;
}
.icon-ristek-atas{
    position: absolute;
    right: 0;
    z-index: -1;
}
.icon-ristek-bawah{
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.logo-bg-tugas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    float: left;
}

.judul-tugas {
    font-size: 28px;
    font-weight: 900;
    margin-top: -70px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .foto-staff{
        transform: scale(0.8);
        margin-bottom: -100px;

    }
    .logo-bg-tugas{
    flex-direction: column;
    float:none;
    margin: 80px 0;
    }
    .icon-ristek-atas{
        width: 50%;
    }
    .icon-ristek-bawah{
        width: 50%;
        z-index: -1;
    }
}

.card-ristek2 {
  
    background: #FAFAFA;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    border-top-right-radius: 80px;
}

.text-tugas {
    color: #656B78;
    font-size: 18px;
    padding-top: 30px;
    line-height: 35px;
    position: center;
}

.logo-bg-misi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    float: right;
    margin-bottom: -60px;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .text-tugas{
        font-size: 16px;
        line-height:25px;
    }
    .logo-bg-misi{
    flex-direction: column;
    float:none;
    margin: 80px 0;   }
}

.judul-misi {
    font-size: 28px;
    margin-top: -70px;
text-align: center;
    font-weight: 900;
}

.misi-ristek {
   
}



.card-ristek3 {
    float: right;
    background: #FAFAFA;
    border: 2px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    border-bottom-left-radius: 80px;
}

.proker-ristek {
    background-image: url(../images/bg-proker2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 20px;
}


.logo-bg-proker{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proker-kemenristek {
    font-size: 30px;
    font-weight: 900;
    margin-top: -70px;
    text-align: center;
}

#card-proker {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
  
}

#card-proker h5{
   
    font-weight: bolder;
}

.judul-proker::after {
    content: " ";
    display: block;
    border: 2px solid #D52D36;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 15%;
}